<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="GTK" connectionString="Data Source=DESKTOP-AU0H4GF;Initial Catalog=GTK;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="STK.Properties.Settings.GTKConnectionString" connectionString="Data Source=DESKTOP-AU0H4GF;Initial Catalog=GTK;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>